/* Background Colors */
.backgroundYellow{
  background-color: rgba(254, 232, 124, 0.2);
}
.backgroundBeige{
  background-color:  rgba(200, 164, 116, 0.1);
}
.backgroundBlue{
  background: rgba(143, 195, 213, 0.2);
}
.backgroundMustard{
  background-color: rgba(200, 164, 116, 0.3);
}
