.benefitsComponent{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 5rem 0rem;
}
.benefitWrapper{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .benefitsComponent{
        grid-template-columns: repeat(2, auto);
    }
    .firstCard{
        grid-column: 1 / 3;
    }
}
